body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: black;
}

.background-red {
  background-color: red;
}

.login-cuadro{
  background-color: #fe9900;
  border-radius: 25px;
}

.body-login{
  background-color: black;
  /* height: 50vw; */
}